// Size
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

@media (max-width: 640px) {
  .sm__text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .sm__text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .sm__text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm__text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm__text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .sm__text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm__text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm__text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm__text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .lg_text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .lg_text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg_text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg_text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg_text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg_text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg_text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg_text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg_text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .xl__text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .xl__text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xl__text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl__text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl__text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl__text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl__text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl__text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl__text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .xl2_text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .xl2_text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xl2_text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl2_text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl2_text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl2_text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl2_text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl2_text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl2_text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1536px) {
  .xl3__text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .xl3__text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xl3__text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl3__text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl3__text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl3__text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl3__text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl3__text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl3__text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}
