.Hero {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;

  @media (min-width: 1024px) {
    display: flex;
  }

  &__background {
    width: 80%;
    margin-top: 5rem;
    display: block;
    object-fit: contain;
  }

  &__logo {
    width: 100px;
    position: absolute;
    top: 2.5rem;
    left: 25%;
    object-fit: contain;
  }
}
