.StoreItem {
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
  & figure {
    width: var(--item-size);
    & img {
      width: 100%;
      display: block;
      object-fit: contain;
    }
  }

  &__info {
    margin-top: 0.75rem;
  }

  & h3 {
    margin-bottom: 0.25rem;
    color: var(--black);
    font-weight: bold;
  }

  & address {
    font-style: normal;
    color: var(--gray);
    font-weight: 500;
  }
}
